node_modules/
dist/
*.log
.DS_Store
*.tsbuildinfo
.vscode/*
.sisyphus
/.opencode/.gitignore
/.opencode/bun.lock
/.opencode/kiro.json
/.opencode/node_modules/
/.opencode/opencode.json
/.opencode/package.json
